<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <h4 class="panel-title">
              Cursos
            </h4>
          </div>
          <div class="col-md-6" *ngIf="!collapse" [@shrink]="true">
            <div class="input-with-icon">
              <input class="form-control input-thick" type="text" placeholder="Buscar..." [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-outline-primary"
                      *ngIf="!collapse"
                      [@shrink]="true"
                      (click)="filterBySelection()"
                      [ngClass]="{'active': filterSelected.length>0 }"> Mostrar Seleccionado
              </button>
              <button class="btn btn-info"
                      (click)="collapse = !collapse"> Colapsar Lista
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="cursos.length>0 && !(disabledSelect) && !collapse" [@collapse]="true">
        <div class="table-responsive">
          <table class="table table-middle table-bordered table-hover">
            <thead>
            <tr class="bg-primary">
              <th>Grado</th>
              <th>Curso</th>
              <th>Profesor Jefe</th>
              <th>Año</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curso of cursos | FilterSelected:filterSelected | filterArray: filterData: filterKeys"
                (click)="selectCurso(curso.curso.id)" [ngClass]="{'bg-info':include(selected,curso.curso.id)}">
              <td>{{curso.curso.grado}}</td>
              <td>{{curso.curso.curso}}</td>
              <td>{{curso.profesor.nombre}} {{curso.profesor.apellido_paterno}} {{curso.profesor.apellido_materno}}</td>
              <td>{{curso.curso.anio}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

